.form-container {
    width: 80%; /* 너비를 부모 요소의 80%로 설정 */
    max-width: 600px; /* 최대 너비를 600px로 제한 */
    margin: 20px auto; /* 상하 마진 20px, 좌우 중앙 정렬 */
    background-color: var(--background-color2); /* 배경 색상 변수 사용 */
    border: 1px solid #ddd; /* 테두리 설정 */
    border-radius: 25px; /* 둥근 모서리 설정 */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
    padding: 20px; /* 내부 여백 20px */
    box-sizing: border-box; /* 박스 크기 계산 방식 설정 */
}

.form-container form {
    display: flex; /* 플렉스 박스 사용 */
    flex-direction: column; /* 세로 방향 정렬 */
}

.form-container label {
    margin: 10px 0 5px; /* 상하 마진 10px, 하단 마진 5px */
    font-weight: bold; /* 폰트 두껍게 설정 */
}

.form-container input {
    margin-bottom: 15px; /* 하단 마진 15px */
    padding: 10px; /* 내부 여백 10px */
    border: 1px solid #ddd; /* 테두리 설정 */
    border-radius: 5px; /* 둥근 모서리 설정 */
    font-size: 1em; /* 폰트 크기 설정 */
}

.form-container button {
    padding: 10px; /* 내부 여백 10px */
    background-color: var(--background-color5); /* 배경 색상 변수 사용 */
    color: #fff; /* 텍스트 색상 흰색 */
    border: none; /* 테두리 제거 */
    border-radius: 5px; /* 둥근 모서리 설정 */
    cursor: pointer; /* 커서 모양 변경 */
    font-size: 1em; /* 폰트 크기 설정 */
    transition: background-color 0.3s; /* 배경색 전환 효과 */
}

.form-container button:hover {
    background-color: var(--background-color6); /* 호버 시 배경색 변경 */
}

#signInButton {
    margin-top: 30px; /* 상단 마진 30px */
    background-color: #dc3545; /* 배경색 설정 */
    border-radius: 5px; /* 둥근 모서리 설정 */
    padding: 10px 30px; /* 내부 여백 10px 30px */
}

#signInButton:hover {
    background-color: #c82333; /* 호버 시 배경색 변경 */
}

#statusMessage {
    margin-top: 10px; /* 상단 마진 10px */
    font-size: 1em; /* 폰트 크기 설정 */
}
