.form-container {
    width: 80%; /* 부모 요소의 80% 너비 */
    max-width: 600px; /* 최대 너비를 600px로 제한 */
    margin: 20px auto; /* 상하 마진 20px, 좌우 중앙 정렬 */
    background-color: var(--background-color2); /* 배경 색상 변수 사용 */
    border: 1px solid #ddd; /* 테두리 설정 */
    border-radius: 25px; /* 둥근 모서리 설정 */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
    padding: 20px; /* 내부 여백 20px */
    box-sizing: border-box; /* 박스 크기 계산 방식을 border-box로 설정 */
}

.form-container form {
    display: flex; /* 플렉스 박스 사용 */
    flex-direction: column; /* 세로 방향 정렬 */
}

.form-container label {
    margin: 10px 0 5px; /* 상하 마진 10px, 하단 마진 5px */
    font-weight: bold; /* 폰트 두껍게 설정 */
}

.form-container input {
    margin-bottom: 15px; /* 하단 마진 15px */
    padding: 10px; /* 내부 여백 10px */
    border: 1px solid #ddd; /* 테두리 설정 */
    border-radius: 5px; /* 둥근 모서리 설정 */
    font-size: 1em; /* 폰트 크기 설정 */
}

.form-container button {
    margin-top: 20px; /* 상단 마진 20px */
    padding: 10px; /* 내부 여백 10px */
    background: linear-gradient(
        107deg,
        rgb(255, 67, 5) 11.1%,
        rgb(245, 135, 0) 95.3%
    ); /* 배경색 그라데이션 */
    color: #fff; /* 텍스트 색상 흰색 */
    border: none; /* 테두리 제거 */
    border-radius: 5px; /* 둥근 모서리 설정 */
    cursor: pointer; /* 커서 모양 변경 */
    font-size: 1em; /* 폰트 크기 설정 */
    transition: background-color 0.3s; /* 배경색 전환 효과 */
}

.form-container button:hover {
    background: linear-gradient(
        107deg,
        #ff5858 0%,
        #f09819 100%
    ); /* 호버 시 배경색 그라데이션 변경 */
}

#statusMessage {
    margin-top: 10px; /* 상단 마진 10px */
    font-size: 1em; /* 폰트 크기 설정 */
}
